body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 50px 20px;
}

.header-image {
    width: 120px; /* Image size */
    height: auto;
    border-radius: 10%; /* Circular image */
    border: 3px solid white; /* White border around image */
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

header .btn {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

header .btn:hover {
    background-color: #fff;
    color: #333;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}